body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgb(13, 14, 38);
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;

    header {
        margin-top: 3rem;

        h1 {
            font-weight: bold;
            font-size: 2.5rem;
            margin: 3rem 0 2rem 0;
        }

        small {
            display: block;
            /* ensures it sits on its own line */
            margin-top: -1.8rem;
            /* pull it closer */
            font-size: 1.2rem;
            color: #aaa;
            /* optional: make it a little softer */
        }

        img {
            width: 15rem;
            height: auto;
            border-radius: 2rem;
        }

        .socials {
            display: flex;
            justify-content: center;
            gap: 1rem;

            i {
                font-size: 2.5rem;
                transition: transform 0.1s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    main {
        margin: 2rem 0;

        #projects {
            width: 60%;
            margin: 0 auto;

            h2 {
                text-align: center;
                font-size: 2rem;
                margin: 2rem 0;
                font-weight: bold;
            }

            ul {
                display: flex;
                justify-content: center;
                /* centers all li items */
                gap: 3rem;
                list-style: none;
                /* removes bullets */
                padding: 0;
                /* removes default padding */
                margin: 0;
                /* prevents shifting */
            }

            li {
                margin: 2rem 0;
                font-size: 1.2rem;
            }

            a {
                text-decoration: none;
                color: rgb(83, 83, 255);
                font-weight: bold;
                font-size: 1.5rem;

                &:hover {
                    color: rgb(67, 67, 211);
                }
            }
        }
    }

    footer {
        margin-top: 2rem;
        color: #565656;
    }
}

.fa-discord {
    color: #7289DA;

    &:hover {
        color: #5d6fb0;
    }
}

.fa-x-twitter {
    color: #1DA1F2;

    &:hover {
        color: #1a8cd8;
    }
}

.fa-github {
    color: #fff;

    &:hover {
        color: #e1e1e1;
    }
}

.fa-gitlab {
    color: #e24329;

    &:hover {
        color: #d83b2a;
    }
}

.project-img {
    height: 50rem;
    /* keep all consistent */
    object-fit: cover;
    /* crops to fit, keeps it looking good */
    border-radius: 8px;
    /* optional: rounded corners */
}